{{ ansible_managed | comment }}
[storage]                                                                         
  driver = "overlay"                                                                
  runroot = "{{ runroot }}"                                           
  graphroot = "{{ container_storage }}"                                         
                                                                                  
[storage.options]                                                                 
  size = "" 
                                                                                  
[storage.options.overlay]
  mount_program = "/usr/bin/fuse-overlayfs"
  mountopt = "nodev"
